
/openwrt-raw.tar.xz
/openwrt-raw.tar.gz
/openwrt.tar.xz
/openwrt.tar.gz
/openwrt.tar
/openwrt
/openwrt/
/dl-raw.tar.xz
/dl-raw.tar.gz
/dl.tar.xz
/dl.tar.gz
/dl.tar
/dl
/dl/
/feeds-raw.tar.xz
/feeds-raw.tar.gz
/feeds.tar.xz
/feeds.tar.gz
/feeds.tar
/feeds
/feeds/
**/*.fpk
**/*.store
**/DS_Store
**/*.DS_Store

/boot/
/boot_old/
/boot_new/

