
/.vscode/
/doc/
/docen/
/core/
/rice/
/var/
/shell/
/build/
/gBOARDID

/config/host/x86/store/
/config/host/aarch64/store/

/srkw/
/srkw_boot/
/config/srkw/
/rkw/

/smtk2/
/smtk2_boot/
/config/smtk2/
/mtk2/

/swrt/
/swrt_boot/
/config/swrt/
/wrt/


