
**/.*
**/DS_Store
**/*.DS_Store
**/.vscode/

/doc/
/core/
/rice/
/var/
/shell/
/build/
/gBOARDID

/config/host/*.fpk

/smtk2/
/config/smtk2/*.fpk
/config/smtk2/
/mtk2/

/smtk3/
/config/smtk3/*.fpk
/config/smtk3/
/mtk3/

/swrt/
/swrt_boot/
/config/swrt/*.fpk
/config/swrt/
/wrt/

/srkl/
/srkl_boot/
/config/srkl/*.fpk
/config/srkl/
/rkl/

/srkw/
/srkw_boot/
/config/srkw/*.fpk
/config/srkw/
/rkw/


